In [7]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path(
    "../Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path(
    "../Starter_Code/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [8]:
# Define LGA variables

students = school_data_complete['student_name']
schools = school_data_complete['school_name']
budget = school_data_complete['budget']
maths_score = school_data_complete['maths_score']
reading_score = school_data_complete['reading_score']

In [9]:
last_row_complete = school_data_complete.iloc[-1, 0]
last_row_schools = school_data.iloc[-1, 0]
total_budget = 0
total_maths = 0
total_reading = 0
maths_passing = 0
reading_passing = 0
overall_passing = 0
total_schools = schools.nunique()
total_students = students.shape[0]

for i in range(last_row_schools + 1):
    budget_value = school_data.iloc[i]['budget']
    total_budget += budget_value

for i in range(last_row_complete):
    ind_maths = school_data_complete.iloc[i]['maths_score']
    total_maths += ind_maths
    ind_reading = school_data_complete.iloc[i]['reading_score']
    total_reading += ind_reading

    if school_data_complete.iloc[i]['maths_score'] >= 50:
        maths_passing = maths_passing + 1

    if school_data_complete.iloc[i]['reading_score'] >= 50:
        reading_passing = reading_passing + 1

    if school_data_complete.iloc[i]['maths_score'] >= 50 and school_data_complete.iloc[i]['reading_score'] >= 50:
        overall_passing = overall_passing + 1


average_maths = f"{total_maths/last_row_complete:.2f}"
average_reading = f"{total_reading/last_row_complete:.2f}"
maths_passing_percent = f"{maths_passing/last_row_complete*100:.2f}%"
reading_passing_percent = f"{reading_passing/last_row_complete*100:.2f}%"
overall_passing_percent = f"{overall_passing/last_row_complete*100:.2f}%"
total_budget = f"${total_budget}"

In [10]:
# Create Data Frame
lga_columns1 = ['Total Schools', 'Total Students', 'Total Budget', 'Average Maths Scores', 'Average Reading Scores', 'Percentage Passing Maths', 'Percentage Passing Reading', 'Percentage Overall Passing']
lga_columns2 = [total_schools, total_students, total_budget, average_maths, average_reading, maths_passing_percent, reading_passing_percent, overall_passing_percent]
lga_df = pd.DataFrame(columns=[lga_columns1, lga_columns2])


lga_df

Empty DataFrame
Columns: [(Total Schools, 15), (Total Students, 39170), (Total Budget, $24649428), (Average Maths Scores, 70.34), (Average Reading Scores, 69.98), (Percentage Passing Maths, 86.08%), (Percentage Passing Reading, 84.43%), (Percentage Overall Passing, 72.81%)]
Index: []

In [5]:
# Define School Summary Variables
school_name = None
school_type = None
students_per_school = 0
total_school_budget = 0
budget_per_student = 0
average_maths_score = 0
average_reading_score = 0
percent_passing_maths = 0
percent_passing_reading = 0
percent_overall_passing = 0

school_dict = {schools for schools in set(schools)}
school_list = sorted(school_dict)

In [6]:
# Manipulate School Summary Data
school_summary_dict = []
z = 0